/* style001.css */

body
{
    margin: 2px 8px;
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
}

input
{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    color: rgb(255, 255, 255);
}

.titles
{
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 2px rgb(100, 100, 100);
    border-radius: 5px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 255, 255);
    background-color: rgb(20, 20, 20);
}

/* ---- */

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

